<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">hola {{usuario}}</a>
    <div class="d-flex" role="search">
      <button class="btn btn-danger my-5  "  onclick="location.href='/api/carrito'">ver carrito</button>
      <button class="btn btn-danger my-5  " onclick="location.href='/logout'">LOGOUT</button>
    </div>
  </div>
</nav>