<div>
     <div class="jumbotron">

 {{#if listaDeProductos}} 
          
  {{#each listaDeProductos}} 
    <form id="form" action="/api/carrito" method="post" >
  <div class="card" style="width: 18rem;" >
  <img src="{{this.imagen}}" name="imagen" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" name="nombre" >producto: {{this.nombre}}</h5>
    <p class="card-text" name="precio" >precio: ${{this.precio}}</p>
    <p class="card-text" name="id">id: {{this.id}}</p>
</div>
    <button class="btn btn-danger my-5 "  >agregar al carrito</button>
  
  </form>
  
</div>

 {{/each}}

{{/if}}  
</div>
</div>