<div>
     <div class="jumbotron">
        {{#if listaDeCarrito}}        
            <div class="table-responsive">
                <table class="table table-dark" >
                    <tr style="color: yellow;"> <th>Nombre</th> <th>precio</th> <th> imagen</th> </tr>
                    {{#each listaDeCarrito}} 
                    <tr id="productossocket">
                        <td>{{this.nombre}}</td>
                        <td>{{this.precio}}</td>
                        <td><img width="30px" src="{{this.imagen}}" alt=""></td>
                    </tr>
                    {{/each}}
 
                </table>
            </div> <button class="btn btn-success mt-3 mb-5" onclick="" >Enviar</button>

            <button class="btn btn-success mt-3 mb-5"  onclick="location.href='/productos'" >seguir comprando</button>
            {{else}}
           
             
        {{/if}}    
 </div>
 </div>
 </div>